.Texts{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.ChatTop{
    display: flex;
    margin-bottom :-15px;
}

.ChatImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.Text{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
    word-wrap: break-word;
}

.ChatBottom{

    font-size: 12px;
    margin-bottom: 10px;

}

.TextOwn{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: flex-end;
}

.TextOwn .Text{
    background-color: rgb(245, 241, 241);
    color: black;
}