@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.home {
  width: 100%;
  margin: auto;
  padding: 140px;
}
.login {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.register {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.homepost {
  width: 100%;
  margin: auto;
  padding: 140px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.users{
   max-width: 800px;
   align-items: center;
   margin:100px auto;
   justify-content: center;
} 

.users button{
  margin: 50px;
  width: 100px;
}
.messages,
.addfriends,
.posts,
.settings,
.support{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.search{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.search input{
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

p{
  margin: 10px;
  font-size: 18px;
}

