.home {
  width: 100%;
  margin: auto;
  padding: 140px;
}
.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.homepost {
  width: 100%;
  margin: auto;
  padding: 140px;
}

